.dashboard-header {
  background-color: #121e36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  color: white;
  border-bottom: 1px solid #2e3b55;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .menu-toggle {
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1100; // HIGHER than sidebar
        position: relative;
         @media (max-width: 768px) {
            position: fixed;
            top: 1rem;
            right: 1rem;
  }
     
    }

    .search-input {
      background-color: #1e2a47;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      color: white;
      min-width: 200px;

      &::placeholder {
        color: #aaa;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .sun-icon {
      color: #ffcc00;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .user-info {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;

      .avatar {
        font-size: 1.6rem;
      }

      .email {
        font-size: 0.95rem;
      }

      .dropdown {
        position: absolute;
        top: 120%;
        right: 0;
        background-color: #1e2a47;
        border-radius: 6px;
        padding: 0.5rem 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        list-style: none;
        z-index: 100;

        li {
          padding: 0.5rem 1rem;
          white-space: nowrap;
          cursor: pointer;

          &:hover {
            background-color: #2e3b55;
          }
        }
      }
    }
  }
}
