.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f2937;
  color: #fff;
  border-bottom: 1px solid #2c3e50;

  .left {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .right {
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span:first-child {
        font-weight: bold;
      }
      span:last-child {
        font-size: 0.8rem;
        color: #aaa;
      }
    }
  }
}
